.header{
	top: 0;
	left: 0;
	width: 100%;
	background-color: #004080;
	height: 70px;
	color: white;
}
.header-itemleft{
	padding-left: 50px;
	float: left;	
}
.header-itemright{
	padding-right: 80px;
	float: right;
	color: white;
	font-size: 20px;
}


.body-main{
	padding-left: 75px;
	font-size: 15px;
}

th{
	width:250px;
	text-align: center;
	font-size: 20px;
}
td{
	text-align: center;
	font-size: 20px;
}
.save{
	color: solid green;
	padding-left: 100px;
	font-size: 40px;
}
.save1{
	color: green;
	padding-left: 100px;
	font-size: 27px;
}
img{
	width: 30px;
	height: 30px;
	padding: 25px;
	float: left;
}
footer
{
	background-color: grey;
	color: black;
	font-size: 20px;
	padding-left: 50px;
	padding-top: 25px;
	height: 70px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.th-text-align-left
{
	text-align: left;
}
.th-text-align-right
{
	text-align: right;
}
.td-text-align-left
{
	text-align: left;
}
.td-text-align-right
{
	text-align: right;
}